{% extends "layout.html" %}

{% block title %}
{{ wikipath.name }}::Attach - {{ config.wikiname }}
{% endblock %}

{% block contents %}
<article class="attach">
	<ul>
		{% for file in files %}
		<li><a href="{{ wikipath.toString() }}/{{ file }}">{{file}}</a></li>
		{% endfor %}
	</ul>
	<form class="upload" enctype="multipart/form-data" method="post" action="{{wikipath.toString()}}?attach">
		<input type="file" name="upload" />
	</form>
</article>
{% endblock %}
{% block scripts %}
<script src="/!public/q.js"></script>
<script src="/!public/utils.js"></script>
<script src="/!public/attach.js"></script>
{% endblock %}
