extends layout

block content
  ul
    each file in files
      li 
        a(href="#{path}/#{file}") #{file}
  form(enctype="multipart/form-data", method="post")
    input(type="file", name="upload", onchange="forms[0].submit()");
