{% extends "layout.html" %}

{% block title %}
{{ wikipath.name }}::Delete - {{ config.wikiname }}
{% endblock %}

{% block contents %}
<article class="delete">
    <h1>Warning!</h1>
    <h3>지금 당신은 {{ wikipath.toString() }}와 하위 폴더를 지우려 합니다.</h3>
    <p>한번 삭제한 페이지는 다시 복구하기 어렵습니다.</p>
    <p>정말 삭제하시려면 항목의 제목을 아래에 입력해 주세요.</p>
    <form method="post" id="confirmForm">
        <input type="text" id="confirm" name="confirm" />
        <input type="submit" value="확인" />
    </form>
</article>
{% endblock %}
