{% extends "layout.html" %}

{% block title %}
{{ wikipath.name }}::Edit - {{ config.wikiname }}
{% endblock %}

{% block style %}
    {% parent %}
    <link rel="stylesheet" href="/!public/lib/CodeMirror/lib/codemirror.css" />
{% endblock %}
{% block contents %}
<article class="tab-header">
	<ul>
		<li class="enabled"><a href="#">Edit</a></li>
		<li><a href="#preview">Preview</a></li>
	</ul>
</article>
<article class="edit">
    <form id="text" method="post">
        <textarea name="data" cols="80" rows="25">{{ wikiData|safe }}</textarea>
		<button type="submit">저장</button>
    </form>
	<section>
		<h3>Uploaded Files</h3>
		<ul id="filelist">
			<!--<li></li>-->
		</ul>
		<form id="upload" method="post" enctype="multipart/form-data">
			<input name="file" type="file" multiple />
		</form>
	</section>
</article>
<article class="preview hidden">
</article>
{% endblock %}

{% block scripts %}
<script>
var note = {
    path : "{{wikipath.toString()}}"
}
</script>
<script src="/!public/lib/CodeMirror/lib/codemirror.js"></script>
<script src="/!public/lib/CodeMirror/mode/markdown/markdown.js"></script>
<script src="/!public/lib/sharedb/client.js"></script>

<!--script src="/!public/lib/share-codemirror/share-codemirror.js"></script-->

<script src="/!public/lib/markdown-it/markdown-it.min.js"></script>
<script src="/!public/lib/markdown-it-footnote/markdown-it-footnote.min.js"></script>
<script src="/!public/lib/markdown-it-deflist/markdown-it-deflist.min.js"></script>

<script src="/!public/lib/q.js"></script>
<script src="/!public/javascripts/utils.js"></script>
<script src="/!public/javascripts/editor.js"></script>
{% endblock %}
