extends layout

block content
	link(rel="stylesheet" href="/!public/lib/CodeMirror/lib/codemirror.css")
	article.edit
		form(method="post")
			textarea(name="data", cols="80", rows="25")
				!= wikiData
			input(type="submit", value="저장")

block scripts
	script(src="/!public/lib/CodeMirror/lib/codemirror.js")
	script(src="/!public/lib/CodeMirror/mode/markdown/markdown.js")
	script(src="/!public/lib/codemirror-emmet/dist/emmet.js")
	script(src="/!public/editor.js")

