extends layout

block content
  article.history
    h1 History of #{notename}
    if(!logs)
      p this page dose not have history!
    else
      table
        tr
          th version
          th date
          th author
        for log, index in logs
          tr
            td #{log.id}
            td #{log.date}
            td #{log.author.name}