<!doctype html>
<html>
<head>
    <title>{{ notename }}::{{ title }}</title>
    {% block style %}
    <link rel="stylesheet" href="/!public/stylesheets/style.css"/>
    {% endblock %}
</head>
<body>
    <div id="wapper">
        <header>
            <a id="wikiname" href="/">{{ wikiname }}</a>
            {% if config.security %}
            <div id="user">
                {% if session.user.id %}
                {{ session.user.id }}
                <a href="/!logout?redirect={{ path.encode() }}">logout</a>
                {% else %}
                <form action="/!login?redirect={{ path.encode() }}" method="post">
                    <input type="text" placeholder="id" name="id"/>
                    <input type="password" placeholder="password" name="password"/>
                    <input type="submit", value="login"/>
                </form>
                {% endif %}
            </div>
            {% endif %}
            {% if !disableMenu %}
            <div>
                <ul>
                    <li><a href="{{ path.toString() }}">View</a></li>
                    <li><a href="{{ path.toString() }}?edit">Edit</a></li>
                    <li>
                        <a href="#">More</a>
                        <ul>
                            <li><a href="{{ path.toString() }}?delete">Delete</a></li>
                            <li><a href="{{ path.toString() }}?attach">Attach</a></li>
                            <li><a href="{{ path.toString() }}?move">Move</a></li>
                            <li><a href="{{ path.toString() }}?find">Find</a></li>
                            <li><a href="{{ path.toString() }}?history">Histroy</a></li>
							{% for menu in menus %}
							<li><a href="{{ path.toString() }}?{{menu}}">{{menu|capitalize}}</a></li>
							{% endfor %}
                            <li class="seperater"></li>
                            <li><a href="/!signup?redirect={{ path.encode() }}">SignUp</a></li>
                        </ul>
                    </li>
                </ul>
                <div id="breadcrumbs">
                    {% for key, val in path.bread() %}
                    <span>/ </span><a href="/{{ val.path }}">{{ val.name }}</a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if msg.warn.length != 0 %}
            <p class="msg-warn">{{ msg.warn }}</p>
            {% elseif msg.info.length != 0 %}
            <p class="msg-info">{{ msg.info }}</p>
            {% else %}
            <p class="msg-dynamic" id="message"></p>
            {% endif %}
        </header>
        {% block contents %}
        {% endblock %}
		<footer>
			<p>Powered By <a href="http://github.com/bluemir/wikinote">wikinote</a></p>
		</footer>
    </div>
    <script src="/!public/shotcut.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
