extends layout

block content
    article.login
        form
            input(type="text")
            input(type="password")
            input(type="submit" value="Login")
            button signin


