{% extends "layout.html" %}

Search - {{ config.wikiname }}

{% block contents %}
<article class="search">
	<h1>Search</h1>
    <p>여기서 wikinote의 내용을 검색할수 있습니다.</p>
	<p>검색어는 정규표현식(regular expression)으로 취급됩니다.</p>
    <form>
        <input type="search" name="q" value="{{ word }}"/>
		<input type="submit" value="검색"/><br/>
		<lable for="case">대소문자 구분</lable>
		<input type="checkbox" name="case" value="sensitive"/>
    </form>
	{% if word %}
    <h2> "{{ word }}"의 검색결과</h2>
    {% if result != null %}
    <ul>
        {% for key, value in result %}
        <li>
            <a href="{{ value.path }}">{{ value.path }}</a>
            {% if value.lines %}
            <table>
                {% for line in value.lines %}
                <tr>
                    <th>{{ line.num }}</th>
                    <td>{{ line.value }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
	{% else %}
	<p>검색결과가 없습니다.</p>
    {% endif %}
	{% endif %}
</article>
{% endblock %}
