extends layout

block content
    form(method="post", id="signup")
        dl
            dt ID
            dd
                input(type="text", placeholder="id", name="id", id="signup.id")
            dt Password
            dd
                input(type="password", placeholder="password", name="password", id="signup.password")
            dt Password confirm
            dd
                input(type="password", placeholder="password confirm", name="confirm", id="signup.confirm")
        p
            input(type="submit", value="signup")

block scripts
    script(src="/!public/signup.js")
