@import url(font/wikinote_logo_font.css);
/*	color : #04D3F5;
	color : #3404F5;
	color : #0853E8;
	color : #049AFF;
	color : #0416FF; */

#wapper {
	max-width : 800px;
	margin : auto;
	min-width : 666px;
	border : 1px solid black;
	border-radius : 15px;
}
#wapper>header {
	font-family : Helvetica, Arial, sans-serif;
	padding-top : 10px;
	display : fixed;
	border-bottom : 1px solid gray;
	position : relative;
}
#wapper>header #wikiname {
	color : #0416FF;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size : 48px;
	font-weight : bold;
	font-style : italic;
	text-decoration : none;
	padding : 10px;
	letter-spacing : -2px;
	word-spacing : 12px;
}
/* login */
#user {
	font-weight : bold;
	float: right;
	margin : 10px;
	position: absolute;
	top: 0px;
	right: 0px;
}
#user a, #user input{
	font-weight : normal;
}
#user input[type="text"], #user input[type="password"]{
	width : 100px;
}
#user a, #user input[type="submit"] {
	display : inline-block;

	padding : 1px 6px;
	margin : 2px;
	font-size : 0.9em;
	line-height : 20px;
	text-align : center;
	vertical-align : middle;
	cursor: pointer;
	color : #333333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color : #f5f5f5;
	background-image : linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

	border: 1px solid #cccccc;
	border-radius : 5px;
	box-shadow : inset 0 1px 0 rgba(255, 255, 255, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.05);
	text-decoration : none;
}
#user a:hover, #user input[type="submit"]:hover,
#user a:focus, #user input[type="submit"]:focus {
	color: #333333;
	background-color: #e6e6e6;
	background-position: 0 -15px;
}

#user a:active, #user input[type="submit"]:active{
	background-image : none;
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0px 1px 2px rgba(0,0,0,0.05);
}

header > div {
	margin : 10px;
}
header div > ul {
	float : right;
	margin: 0;
	list-style: none;  
	margin-bottom : 10px;
}

header div > ul li{
	float: left;
	padding: 0 0 10px 0;
	position: relative;
}

header div > ul a{
	color : #049AFF;
	float: left;
	padding: 3px 8px;
	text-decoration: none;
	border-radius : 5px;
}

header div > ul li:hover > a{
	background : #eee;
}

header div > ul li:hover > ul{
	display: block;
}

/* Sub-menu */

header div > ul ul {
	list-style: none;
	margin: 0;
	padding: 0;    
	display: none;
	position: absolute;
	top: 2em;
	right: 0;
	z-index: 99999;    
	background: #fff;
	border-radius: 5px;
	border : 1px solid gray;
}

header div > ul ul li{
	float: none;
	margin: 0;
	padding: 0;
	display: block;  
}

header div > ul ul li.seperater {
	border-bottom : 1px solid gray;
}

header div > ul ul a{    
	padding: 10px;
	height: auto;
	line-height: 1;
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
}

header div > ul ul a:hover {
	background: #eee;
}

/* Clear floated elements */
header div > ul:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/* message */
header p.msg-warn {
	margin : 10px;
	padding : 10px;
	border-radius : 10px;
	background : #f2dede;
	color : #b94a48;
	border-color : #eed3d7;
}
header p.msg-info {
	margin : 10px;
	padding : 10px;
	border-radius : 10px;
	background : #d9edf7;
	color : #3a87ad;
	border-color : #bce8f1;
}
header p.msg-dynamic {
	position : fixed;
	top : 50%;
	left : 50%;
	width : 12em;
	margin-left : -6em;
	text-align : center;
	display : none;
	padding : 10px;
	border-radius : 10px;
	background : #d9edf7;
	color : #3a87ad;
	border-color : #bce8f1;
	z-index : 10;
}

header p.msg-dynamic.warn {
	width : 30em;
	margin-left : -15em;
	background : #f2dede;
	color : #b94a48;
	border-color : #eed3d7;
}
#breadcrumbs a {
	text-decoration : none;
	color : #049AFF;
}
#breadcrumbs a:hover {
	text-decoration : underline;
}
/*common style*/
article, section#plugins {
	font-family : "Noto Sans CJK TC", "Noto Sans", Helvetica, Arial, sans-serif;
	padding : 10px;
}
article img {
	max-width : 100%;
}
article a{
	text-decoration : none;
	color : #049AFF;
}
article a:hover {
	text-decoration : underline;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
	margin : 0em;
	margin-top : 1em;
}
article h1{	
	margin-top : 0em;
	font-size: 2.5em;
	font-weight: bolder;
	text-shadow : 1px 1px 5px #ccc;
}
article h2{
	font-weight : bold;
	font-size: 1.8em;
	border-bottom : 1px solid gray;
	padding-bottom : 5px;
}
article h3{
	font-weight : bold;
	font-size : 1.5em;
}
article h4{
	font-size: 1.3em;
}
article h5{
	font-size: 1.2em;
}
article h6{
	font-size: 1.1em;
}
article dt{
	font-style: italic;
}

/* view */
article.view blockquote{
	font-style : italic;
	margin-left : 0px;
	padding-top : 20px;
	overflow : hidden;
	line-height : 100%;
	color : #454545;
}
article.view blockquote:before {
	display : block;
	float : left;
	content : open-quote;
	color : #bababa;
	font-size : 100px;
	margin : 10px 15px 0px 0px;
	text-shadow : 0 1px 1px #909090;
}
article.view blockquote:after {
	display : block;
	float : right;
	content : close-quote;
	color : #bababa;
	font-size : 100px;
	margin : 10px 15px 0px 0px;
	text-shadow : 0 1px 1px #909090;
}
article.view blockquote :first-child {
	margin-top : 0px;
}
article.view blockquote :last-child {
	margin-bottom : 0px;
}
article.view blockquote * {
	margin-left : 100px;
	margin-right : 80px;
}
article.view table {
	border-collapse : collapse;
}
article.view th, article.view td {
	border : 1px solid gray;
	padding : 5px;
}
article.view code {
	border : 1px solid gray;
	border-radius : 3px;
	padding : 2px;
}
article.view pre>code,
article.view xmp {
	display : block;
	background : black;
	color : white;
	padding : 10px;
	border : 1px solid gray;
	border-radius : 3px;
	word-wrap : break-word;
}
article.view pre>code:before,
article.view xmp:before {
	content : "code";
	display : block;
	color : green;
	margin-bottom : 10px;
	border-bottom : 1px solid green;
	padding : 2px;
}
article.view pre>code.lang-pic,
article.view xmp.lang-pic {
	background : white;
	color : black;
	padding : 0px;
	border : none;
	display : inline;
	font-size : 1.1em;
}
article.view pre>code.lang-pic:before,
article.view xmp.lang-pic:before {
	content : none;
	display : none;
}
article.view pre>code.lang-not-code,
article.view xmp.lang-not-code {
	content : none;
	display : none;
}
article.view p, article li{
	line-height : 1.2em;
}
article.view .right {
	text-align : right;
}
article.view .center {
	text-align : center;
}
article.view ol.footnotes:before {
	display : block;
	background : #ccc;
	content : "";
	height : 2px;
	margin-bottom : 5px;
	margin-left : -20px;
	width : 100px;
	margin-left : -2em;
}
article.view ol.footnotes {
	margin : 0px;
	padding-left : 2em;
	font-size : 0.8em;
}
article.view ol.footnotes p {
	margin : 0px;
}
/*edit*/
article.edit textarea {
	tab-size : 4;
	width : 100%;
	box-sizing: border-box;
	overflow-x : hidden;
}
article.edit form>img {
	cursor : pointer;
	float : right;
}
article.edit .CodeMirror {
	border : 1px solid gray;
	width : 100%;
	resize : vertical;
	height : auto;
	min-height : 300px;
}
/* find */
article.find table{
	border-collapse : collapse;
	border : 1px solid gray;
	display : block;
}
article.find th{
	min-width : 50px;
	text-align : right;
	padding-right : 5px;
	border-right : 1px solid gray;
}
article.find td {
	padding-left : 10px;
}

/*history*/
article.history table{
	width : 100%;
	border-collapse : collapse;
}

article.history th,
article.history td {
	border : 1px solid gray;
	padding : 3px;
}
article.history td.id {
	text-align : center;
}
section#plugins {
}

/*	color : #04D3F5;
	color : #3404F5;
	color : #0853E8;
	color : #049AFF;
	color : #0416FF; */
#wapper>footer {
	text-align : center;
	border-top : 1px dotted gray;
	font-size : 0.8em;
}
#wapper>footer p {
	margin : 4px;
}
#wapper>footer a {
	color : white;
	padding : 2px 4px;
	border-radius : 5px;
	text-decoration : none;
	background: #049AFF;
}
/*Print*/
@media print {
	#wapper header{
		display : none;
	}
	#wapper footer{
		display : none;
	}
	#wapper {
		border : 0px;
	}
	article.view code {
		color : black;
		background : white;
	}
}
