#wapper {
	max-width : 800px;
	margin : auto;
	min-width : 666px;
	border : 1px solid black;
	border-radius : 15px;
}
header img {
	margin : 10px;
}
header {
	display : fixed;
	border-bottom : 1px solid gray;
	position : relative;
}
/* login */
#user {
	display : inline-block;
	float : right;
	margin : 10px;
}

#user input[type="text"], #user input[type="password"]{
	width : 100px;
}
#user a, #user input[type="submit"] {
	display : inline-block;

	padding : 1px 6px;
	margin : 2px;
	font-size : 0.9em;
	line-height : 20px;
	text-align : center;
	vertical-align : middle;
	cursor: pointer;
	color : #333333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color : #f5f5f5;
	background-image : linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

	border: 1px solid #cccccc;
	border-radius : 5px;
	box-shadow : inset 0 1px 0 rgba(255, 255, 255, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.05);
	text-decoration : none;
}
#user a:hover, #user input[type="submit"]:hover,
#user a:focus, #user input[type="submit"]:focus {
	color: #333333;
	background-color: #e6e6e6;
	background-position: 0 -15px;
}

#user a:active, #user input[type="submit"]:active{
	background-image : none;
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0px 1px 2px rgba(0,0,0,0.05);
}
header > div {
	margin : 10px;
}
header div > ul {
	float : right;
	margin: 0;
	list-style: none;  
	margin-bottom : 10px;
}

header div > ul li{
	float: left;
	padding: 0 0 10px 0;
	position: relative;
}

header div > ul a{
	color :blue;
	float: left;
	padding: 3px 8px;
	text-decoration: none;
	border-radius : 5px;
}

header div > ul li:hover > a{
	background : #eee;
}

header div > ul li:hover > ul{
	display: block;
}

/* Sub-menu */

header div > ul ul {
	list-style: none;
	margin: 0;
	padding: 0;    
	display: none;
	position: absolute;
	top: 2em;
	right: 0;
	z-index: 99999;    
	background: #fff;
	border-radius: 5px;
	border : 1px solid gray;
}

header div > ul ul li{
	float: none;
	margin: 0;
	padding: 0;
	display: block;  
}

header div > ul ul li.seperater {
	border-bottom : 1px solid gray;
}

header div > ul ul a{    
	padding: 10px;
	height: auto;
	line-height: 1;
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
}

header div > ul ul a:hover {
	background: #eee;
}

/* Clear floated elements */
header div > ul:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/* message */
header p.msg-warn {
	margin : 10px;
	padding : 10px;
	border-radius : 10px;
	background : #f2dede;
	color : #b94a48;
	border-color : #eed3d7;
}
header p.msg-info {
	margin : 10px;
	padding : 10px;
	border-radius : 10px;
	background : #d9edf7;
	color : #3a87ad;
	border-color : #bce8f1;
}

#breadcrumbs a {
	text-decoration : none;
	color : blue;
}
#breadcrumbs a:hover {
	text-decoration : underline;
}
article img {
	max-width : 100%;
}
article {
	padding : 10px;
}
article a{
	text-decoration : none;
	color : blue;
}
article a:hover {
	text-decoration : underline;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
	margin : 0em;
	margin-top : 1em;
}
article h1{	
	margin-top : 0em;
	font-size: 2.5em;
	font-style : italic;
}
article h2{
	font-size: 1.8em;
	border-bottom : 1px solid gray;
	padding-bottom : 5px;
}
article h3{
	font-size: 1.5em;
}
article h4{
	font-size: 1.3em;
}
article h5{
	font-size: 1.2em;
}
article h6{
	font-size: 1.1em;
}
article dt{
	font-style: italic;
}
article blockquote{
	font-style : italic;
	margin-left : 0px;
	padding-top : 20px;
	overflow : hidden;
	line-height : 100%;
	color : #454545;
}
article blockquote:before {
	display : block;
	float : left;
	content : open-quote;
	color : #bababa;
	font-size : 100px;
	margin : 10px 15px 0px 0px;
	text-shadow : 0 1px 1px #909090;
}
article blockquote:after {
	display : block;
	float : right;
	content : close-quote;
	color : #bababa;
	font-size : 100px;
	margin : 10px 15px 0px 0px;
	text-shadow : 0 1px 1px #909090;
}
article blockquote :first-child {
	margin-top : 0px;
}
article blockquote :last-child {
	margin-bottom : 0px;
}
article blockquote * {
	margin-left : 100px;
	margin-right : 80px;
}
article table {
	border-collapse : collapse;
}
article th, article td {
	border : 1px solid gray;
	padding : 5px;
}
article code{
	display : block;
	background : black;
	color : white;
	padding : 10px;
	border : 1px solid gray;
	border-radius : 3px;
	word-wrap : break-word;
}
article code:before {
	content : "code";
	display : block;
	color : green;
	margin-bottom : 10px;
	border-bottom : 1px solid green;
	padding : 2px;
}
article code.lang-pic{
	background : white;
	color : black;
	padding : 0px;
	border : none;
	display : inline;
	font-size : 1.1em;
}
article code.lang-pic:before {
	content : none;
	display : none;
}

textarea {
	tab-size : 4;
	width : 100%;
	box-sizing: border-box;
	overflow-x : hidden;
}
form>img {
	cursor : pointer;
	float : right;
}
article p, article li{
	line-height : 1.2em;
}
article .right {
	text-align : right;
}
article .center {
	text-align : center;
}
article p.history-date {
	color : blue;
}
article p.history-subject {
	text-indent : 3em;
}

@media print {
	header{
		display : none;
	}
	#wapper {
		border : 0px;
	}
	article code {
		color : black;
		background : white;
	}
}
