port: {{ port }}
frontPage : {{ frontPage }}
autoBackup : {{ autoBackup }}
{%- if security %}
security :
  salt : {{security.salt}}
  defaultPermissions : !!seq
  {%- for perm in security.defaultPermissions %}
    - {{perm}}{% endfor -%}
{% else %}
#security :
#  salt : 123456789
#  defaultPermissions : !!seq
#    - read
#    - write
{% endif %}
wikiname : {{ name }}
plugins : !!seq
{%- for plugin in plugins %}
  - {{plugin}}{% endfor %}
