/* common */
html, body {
	margin : 0px;
	background : #d1d1d1;
	font-family : @body-font;
	font-size : 16px;
}
.row {
	max-width : 850px;
	min-width : 550px;
	margin : auto;
}

/* header */
@import "./modules/gnb.less";

/* message */
@import "./modules/alert.less";

#wapper {
	padding-top : 70px;
	background : white;
}

#wapper>article, section#plugins {
	font-family : @body-font;
	padding : 10px 50px;
}

#wapper>article {
	img {
		max-width : 100%;
	}
	a {
		text-decoration : none;
		color : @light-blue;

		&:hover {
			text-decoration : underline;
		}
	}
	sup.footnote-ref a {
		padding-top : 70px;
		outline: none;
	}
	h1, h2, h3, h4, h5, h6 {
		margin : 0em;
		margin-top : 1em;
	}
	h1 {
		margin-top : 0em;
		font-size: 2.5em;
		font-weight: bolder;
		text-shadow : 1px 1px 5px #ccc;
	}
	h2 {
		font-weight : bold;
		font-size: 1.8em;
		border-bottom : 1px solid gray;
		padding-bottom : 5px;
	}
	h3 {
		font-weight : bold;
		font-size : 1.5em;
	}
	h4 {
		font-weight : normal;
		font-size: 1.3em;
	}
	h5 {
		font-style : italic;
		font-size: 1.1em;
	}
	h6 {
		font-size: 1.1em;
	}

	dt {
		font-style: italic;
	}

	&.tab-header {
		padding-bottom : 0px;

		ul {
			border-bottom : 2px solid @menu-color;
			margin : 0px;
			padding : 0px;
			list-style : none;
			li {
				display : inline-block;
				padding : 5px 10px;
				a {
					color : inherit;
				}
			}
			li.enabled {
				background : @menu-color;
				a {
					text-decoration : none;
				}
			}
		}
	}
	&.hidden {
		display : none;
	}

	&.view, &.preview {
		@import "./modules/view.less";
	}
	&.edit {
		@import "./modules/edit.less";
	}
	&.search {
		@import "./modules/search.less";
	}
	&.history {
		@import "./modules/history.less";
	}
}

section#plugins {
}

body>footer {
	text-align : center;
	font-size : 0.8em;
	padding : 10px;
	p {
		margin : 0px;
	}
	a {
		color : white;
		padding : 2px 4px;
		border-radius : 1px;
		text-decoration : none;
		background: @light-blue;
	}
}
